<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje usluge</h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Izmena usluge</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Brisanje usluge</h3>
    <form class="mat-dialog-content" #formControl="ngForm">
      <div class="form">
        <mat-form-field >
          <input matInput placeholder="Naziv" [(ngModel)]="usluga.naziv" name="naziv" [disabled] = "flag == 3" required>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field>
          <input matInput placeholder="Opis usluge" [(ngModel)]="usluga.opis_usluge" name="opis_usluge" [disabled] = "flag == 3" required>
        </mat-form-field>
      </div>
      <div class="form">
      <mat-form-field>
        <input matInput [matDatepicker]="datum_ugovora" placeholder="Datum ugovora" [(ngModel)]="usluga.datum_ugovora" name="datum_ugovora"
          [disabled]="flag == 3">
        <mat-datepicker-toggle matSuffix [for]="datum_ugovora"></mat-datepicker-toggle>
        <mat-datepicker #datum_ugovora></mat-datepicker>
      </mat-form-field>
    </div>
      <div class="form">
        <mat-form-field>
          <input matInput placeholder="Provizija" [(ngModel)]="usluga.provizija" name="provizija" [disabled] = "flag == 3" required>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field>
          <mat-select [(ngModel)]="usluga.filijala" placeholder="Filijala" name="filijala" [compareWith]="compareTo" [disabled]="flag==3" >
            <mat-option *ngFor="let filijala of filijalas" [value]="filijala">
              {{filijala.id}}

            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field>
          <mat-select [(ngModel)]="usluga.korisnik_usluge" placeholder="Korisnik" [compareWith]="compareTo" name="korisnik_usluge" [disabled]="flag==3" >
            <mat-option *ngFor="let korisnik of korisniks" [value]="korisnik">
              {{korisnik.ime}} {{korisnik.prezime}}

            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div mat-dialog-actions>
        <button mat-button *ngIf="flag == 1" type="submit" [mat-dialog-close]="1" (click)="add()" [disabled]="!formControl.valid">
          Dodaj
        </button>
        <button mat-button *ngIf="flag == 2" type="submit" [mat-dialog-close]="1" (click)="update()" [disabled]="!formControl.valid">
          Sačuvaj
        </button>
        <button mat-button *ngIf="flag == 3" type="submit" [mat-dialog-close]="1" (click)="delete()">
          Obriši
        </button>
        <button mat-button (click)="cancel()">Poništi</button>
        </div>
    </form>
  </div>