
    <div class="jumbotron jumbotron-fluid" id="banner" style="background-image:url(assets/img/banner-bk.jpg);">
        <div class="container text-center text-md-left">
            <header>
                <div class="row justify-content-between">
                    <div class="col-2">
                        <img src="assets/img/logo.png" alt="logo">
                    </div>
                    
                </div>
            </header>
            <h1 data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="display-3 text-white font-weight-bold my-5">
            	Novi način<br>
            	za upravljanje bankama
            </h1>
            <p data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="lead text-white my-4">
                Naša magična aplikacija za upravljanje bankama otvara vrata finansijske čarolije, 
                gde svaki klik pretvara brojeve u simfoniju bogatstva.<br> Uz nju moć vam je na dlanu, 
                a banke postaju mesto gdje se snovi pretvaraju u stvarnost, a novčanice u čarobne šešire.
            </p>
            <div class="d-flex justify-content-center align-items-center">
            <a [routerLink]="['/banka']" data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" style="font-size: 25px;
            padding: 25px 50px;" class="btn-lg my-4 font-weight-bold atlas-cta cta-green">Započnite</a>
        </div>
    </div>
    </div>
    <!-- three-blcok -->
    <div class="container my-5 py-2 text-center" id="about">
        <h2 class="text-center font-weight-bold my-5">O aplikaciji</h2>
        <div class="row d-flex justify-content-center align-items-center">
            <div data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000" data-aos-once="true" 
            class="col-12 text-center">
                
                <p>Naša revolucionarna aplikacija za banku donosi potpuno novo iskustvo u otkrivanju, 
                    istraživanju i interakciji s bankarskim svijetom. Kroz jednostavan i intuitivan interfejs, 
                    omogućava vam da istražite sve bankovne informacije na jednom mjestu - od detalja o bankama i 
                    njihovim filijalama, do širokog spektra dostupnih usluga. Upotrebom naše aplikacije, 
                    možete brzo pronaći banku koja najbolje odgovara vašim potrebama, istražiti njihove usluge, 
                    pregledati povratne informacije korisnika i doneti odluke o bankarstvu. 
                    Bilo da ste u potrazi za otvaranjem računa, dobijanjem kredita ili jednostavno želite pristupiti 
                    korisničkom računu, naša aplikacija vam omogućava jednostavan pristup bankarskom svijetu na dlanu, 
                    pružajući vam sigurnost, praktičnost i korisničko iskustvo koje će vas oduševiti.</p>
                
            </div>
        </div>
     </div>
            
    <!-- feature (skew background) -->
    <div class="jumbotron jumbotron-fluid feature" id="feature-first">
        <div class="container my-5" >
            <div class="row justify-content-between text-center text-md-left">
                <div data-aos="fade-right" data-aos-duration="1000" data-aos-once="true" class="col-md-6">
                    <h2 class="font-weight-bold">Zavirite unutra</h2>
                    <p class="my-4">Naša inovativna aplikacija za upravljanje bankama pretvara složene 
                        financijske transakcije u ples preciznosti, omogućujući vam da dirigirate tokom 
                        kapitala s lakoćom, dok se melodija rasta i sigurnosti nadopunjuje harmonijom korisničkog iskustva.</p>
                </div>
                <div data-aos="fade-left" data-aos-duration="2000" data-aos-once="true" class="col-md-6 align-self-center">
                    <img src="assets/img/feature-1.png" alt="Take a look inside" class="mx-auto d-block">
                </div>
            </div>
        </div>
    </div>
    <!-- feature (green background) -->
    <div class="jumbotron jumbotron-fluid feature" id="feature-last">
        <div class="container">
            <div class="row justify-content-between text-center text-md-left">
                <div data-aos="fade-left" data-aos-duration="2000" data-aos-once="true" class="col-md-6 flex-md-last">
                    <h2 class="font-weight-bold">Sigurno i pouzdano</h2>
                    <p class="my-4">
                        Vaša sigurnost je naš prioritet. Pouzdanost našeg poslovanja temelji 
                        <br> se na naprednim sigurnosnim protokolima i 
                        tehnološkim mjerama koje osiguravaju zaštitu vaših podataka.
                        
                    </p>
                </div>
                <div data-aos="fade-right" data-aos-duration="1000" data-aos-once="true" class="col-md-6 align-self-center flex-md-first">
                    <img src="assets/img/feature-2.png" alt="Safe and reliable" class="mx-auto d-block">
                </div>
            </div>
        </div>
    </div>
    <!-- author -->
    <div class="container my-5 py-2" id="author">
        <h2 class="text-center font-weight-bold d-block mb-3">O autoru</h2>
        
                  <div class="row">
                     <div class="col-xl-4 col-lg-4 col-md-12 margin_boot">
                        <div class="test_box1">
                           <figure style="margin-left:70px;"><img src="assets/img/tests.png" alt="#"/></figure>
                           
                        </div>
                     </div>
                     <div class="col-xl-8 col-lg-8 col-md-12">
                        <div style="padding: 30px 25px;">
                           <i><img src="assets/img/te1.png" alt="#"/></i>
                           <p>Moje ime je Gojko Grubišić i imam snažnu strast prema IT industriji. 
                            Fasciniran sam tehnologijom i njenim neprestanim napretkom, što me motiviše da se 
                            dalje razvijam i usavršavam u ovom području. Svoju budućnost vidim u radu u IT industriji, 
                            gde ću moći koristiti svoje veštine i kreativnost kako bih stvarao inovativna rešenja.</p>
                           <i style="float:right"><img src="assets/img/te2.png" alt="#"/></i>
                        </div>
                     </div>
                  </div>
              </div>
    <!-- contact -->
    <div class="jumbotron jumbotron-fluid" id="contact" style="background-image: url(assets/img/contact-bk.jpg);">
        <div class="container my-5">
            <div class="row justify-content-between">
                <div class="col-md-6 text-white">
                    <h2 class="font-weight-bold">Kontaktirajte nas</h2>
                    <p class="my-4">
                        Kontaktirajte nas i zajedno ćemo stvoriti čaroliju! 
                       <br> Naša ekipa je spremna odgovoriti na vaša pitanja i ideje.
                    </p>
                    <ul class="list-unstyled">
                        <li><mat-icon>email</mat-icon> grubisic.gojko@yahoo.com</li>
                        <li><mat-icon>phone</mat-icon> Telefon: 361-688-5824</li>
                        <li><mat-icon>address</mat-icon> 4826 White Avenue, Corpus Christi, Texas</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <form>
                    	<div class="row">
	                        <div class="form-group col-md-6">
	                            <label for="name">Your Name</label>
	                            <input type="name" class="form-control" id="name">
	                        </div>
	                        <div class="form-group col-md-6">
	                            <label for="Email">Your Email</label>
	                            <input type="email" class="form-control" id="Email">
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <label for="message">Message</label>
	                        <textarea class="form-control" id="message" rows="3"></textarea>
	                    </div>
                        <button type="submit" class="btn font-weight-bold atlas-cta atlas-cta-wide cta-green my-3">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

	<!-- copyright -->
	<div class="jumbotron jumbotron-fluid" id="copyright">
        <div class="container">
            <div class="row justify-content-between">
            	<div class="col-md-6 text-white align-self-center text-center text-md-left my-2">
                    Copyright © 2023 GG Inc.
                </div>
                <div class="col-md-6 align-self-center text-center text-md-right my-2" id="social-media">
                    <a href="#" class="d-inline-block text-center ml-2">
                    	<i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="d-inline-block text-center ml-2">
                    	<i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="d-inline-block text-center ml-2">
                    	<i class="fa fa-medium" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="d-inline-block text-center ml-2">
                    	<i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <!-- AOS -->
    <script src="assets/js/aos.js"></script>
    <script>
      AOS.init({
      });
    </script>