<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje banke</h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Izmena banke</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Brisanje banke: {{banka.naziv}}</h3>
    <form class="mat-dialog-content" #formControl="ngForm">
      <div class="form">
        <mat-form-field>
          <input matInput placeholder="Naziv" [(ngModel)]="banka.naziv" name="naziv" [disabled] = "flag == 3" required>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field>
          <input matInput placeholder="Kontakt" [(ngModel)]="banka.kontakt" name="kontakt" [disabled] = "flag == 3" required>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field>
          <input matInput placeholder="PIB" maxlength="9" [(ngModel)]="banka.pib" name="pib" [disabled] = "flag == 3" required>
        </mat-form-field>
      </div>
      <div mat-dialog-actions>
        <button mat-button *ngIf="flag == 1" type="submit" [mat-dialog-close]="1" (click)="add()" [disabled]="!formControl.valid">
          Dodaj
        </button>
        <button mat-button *ngIf="flag == 2" type="submit" [mat-dialog-close]="1" (click)="update()" [disabled]="!formControl.valid">
          Sačuvaj
        </button>
        <button mat-button *ngIf="flag == 3" type="submit" [mat-dialog-close]="1" (click)="delete()">
          Obriši
        </button>
        <button mat-button (click)="cancel()">Poništi</button>
        </div>
    </form>
  </div>